#footer {
  background-color: var(--color-surface-hero);
}

#footer .footer-logo {
  color: var(--color-surface-default);
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
}

#footer .footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-surface-default);
}
