#portfolio .portfolio-item {
  background-color: var(--color-surface-primary);
}

#portfolio .portfolio-img-wrapper {

}

#portfolio .portfolio-img {
  display: block;
}

#portfolio .portfolio-overlay {
  background-color: var(--color-brand-default);
  color: var(--color-surface-default);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: none;
}

#portfolio .portfolio-item:hover .portfolio-overlay {
  display: block;
}

#portfolio .portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-contrast-high);
}

#portfolio .portfolio-item-category {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
